.project_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

#projects h1{
  text-transform: uppercase;
}

.project_item{
    background: var(--color-bg-variant);
    padding: 2.5rem;
    border-radius: 2rem 0 2rem 0;
    border: 1ps solid transparent;
    transition: var(--transition);
}

.project_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.project_item h3{
    margin: 1.2rem 0 2rem;
}

h1{
    text-align: center;
    margin: 2rem 2rem;
}

.project_buttons a {
    padding: 0.2em 0.4em;
}

.git-btn{
    color: white;
    margin-right: 1.5em;
    background: var(--color-pink);
    border: 0.1em solid var(--color-pink);
    border-radius: 2rem;
    text-decoration: none;
}

.git-btn:hover{
    background: transparent;
    border: 0.1em solid var(--color-blue);
    color: var(--color-blue);
}

.demo-btn{
    color: var(--color-pink);
    border: 0.1em solid var(--color-pink);
    border-radius: 2rem;
    text-decoration: none;
}

.demo-btn:hover{
    background: var(--color-blue);
    border: 0.1em solid var(--color-blue);
    color: white;
}


@media screen and (max-width: 1024px){
    .project_container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

@media screen and (max-width: 600px){
    .project_container{
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 80%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 400px){
    .project_container{
        margin-top: 10rem;
    }
}