.about-heading{
    font-size: 50px;
  }
  
  .about_container{
    background: rgb(139,138,163);
    background: linear-gradient(90deg, rgba(139,138,163,1) 0%, rgba(199,186,186,1) 35%, rgba(212,209,224,1) 100%);
    display: grid;
    grid-template-columns: 40% 45%;
    gap: 10%;
  }
  
  .about{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, #B8B8B8, transparent);
    display: grid;
    place-items: center;
  }
  
  .about_img{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
  }
  
  .about_img:hover{
    transform: rotate(0);
  }
  
  .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 15%;
  }
  
  .card{
    background: linear-gradient(90deg, rgb(211, 211, 215) 0%, rgb(211, 211, 215)  35%, rgb(211, 211, 215) 100%);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    justify-content: center;
    transition: var(--transition);
    cursor: pointer;
  }
  
  .card:hover{
    background: transparent;
    border-color: rgb(159, 148, 148);
  }
  
  .about_icon{
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  
  .card h5{
    font-size: 0.95rem;
  }
  
  .card small{
    font-size: 0.75rem;
    color: rgb(85, 82, 82);
  }
  
  .about_content p{
    margin: 2rem 0 2.6rem;
    color: rgb(85, 82, 82);
  }
  
  @media screen and (max-width: 1024px){
    .about_container{
      height: 125vh;
      grid-template-columns: 1fr;
      gap: 0;
    }
    .about{
      width: 50%;
      margin: 1rem auto 2rem;
    }
    .cards{
      margin-top: 2%;
    }
    .about_content p{
      margin: 1rem 0 1.5rem;
    }
  }
  
  @media screen and (max-width: 600px){
    .about{
      width: 65%;
      margin: 0 auto 3rem;
    }
    .cards{
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      margin-top: -30%;
    }
    .about_content{
      text-align: center;
    }
    .about_content p{
      margin: 1.5rem 0;
    }
  }