.home{
    /* width: 100vw; */
    position: relative;
    height: calc(100vh - 3rem);
    /* display: grid; */
    /* place-items: center; */
    margin-top: 3rem;
    /* top: 0; */
}

.home_container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    gap: 6rem;
    /* position: relative;
    overflow: hidden;
    padding-bottom: 2em; */
}

.home__animated-alphabet-box{
    margin-left: 10%;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 700;
    /* letter-spacing: 0.1em; */
}

.home__animated-alphabet-box span:last-child {
    color: #ffffff;
    margin-right: 0.5em;
}

.home__alphabet{
    display: inline-block;
    color: rgb(230, 45, 76);
}

.home__alphabet--last{
    margin-right: 0.15em;
}

.home__description{
    margin-left: 10%;
    width: 65%;
}

.home__description p{
    min-width: 23em;
}



/* .home-left{
    margin-top: -3rem;
}

.home-left p{
    margin: 1rem 0 3.5rem;
} */

.home-right{
    display: grid;
    place-items: center;
    position: relative;
}

.home-circle{
    width: 25rem;
    height: 25rem;
    background: linear-gradient(75deg, rgb(87, 87, 147), transparent);
    border-radius: 50%;
    position: absolute;
    transition: var(--transition);
}

.home-img{
    position: relative;
}

.home-right:hover .home-circle{
    filter: blur(15px);
}

/* ----Button------ */
/* .btn{
    position: relative;
    color: var(--color-light);
    width: fit-content;
    margin: 0 auto;
    padding: 0.8rem 2rem;
    background: rgb(51, 51, 164);
    border-radius: 1.5rem;
    transition: var(--transition);
    cursor: pointer;
    bottom: -1rem;
}

.btn:hover{
    background: goldenrod;
    color: var(--color-white);
} */

/* ----Social icons------- */
.contact__social{
    display: flex;
    gap: 0.5em;
    padding-left: 8%;
}
  
.contact__linkedin, .contact__github{
    cursor: pointer;
}
  
.contact__linkedin svg:hover{
    color: rgb(71, 71, 238);
}
  
.contact__github svg:hover{
    color: rgb(230, 45, 76);
}

/* ----Media Queries---- */
/* @media screen and (max-width: 1024px){
    .home{
        height: fit-content;
        padding: 12rem 0;
    }
    .home_container{
        gap: 0;
    }
    .home-circle{
        width: 25rem;
        height: 25rem;
    }
}

@media screen and (max-width: 600px){
    .home{
        margin-top: 0;
        padding: 12rem 0;
    }
    .home_container{
        grid-template-columns: 1fr;
    }
    .home-left{
        text-align: center;
        gap: 2rem;
    }
    .home-img{
        margin-top: 30px;
    }
    .home-circle{
        width: 10rem;
        height: 10rem;
    }
    .social-icon{
        display: none;
    }
} */