.home{
    /* width: 100vw; */
    position: relative;
    height: calc(100vh - 3rem);
    /* display: grid; */
    /* place-items: center; */
    margin-top: 3rem;
    /* top: 0; */
}

.home_container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    gap: 6rem;
    /* position: relative;
    overflow: hidden;
    padding-bottom: 2em; */
}

.home__intro{
    position: relative;
    color: rgb(225, 219, 219);
    z-index: 2;
}

.home__intro-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300;
}

.home__intro-line{
    position: relative;
    width: 9.2%;
    height: 0.05em;
    margin-right: 0.5em;
    display: inline-block;
    background: rgb(230, 45, 76);
}

.home__animated-alphabet-box{
    margin-left: 10%;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 700;
    /* letter-spacing: 0.1em; */
}

.home__animated-alphabet-box span:last-child {
    color: #ffffff;
    margin-right: 0.5em;
}

.home__alphabet{
    display: inline-block;
    color: rgb(230, 45, 76);
}

.home__alphabet--last{
    margin-right: 0.15em;
}

.home__description{
    margin-left: 10%;
    width: 65%;
}

.home__description p{
    min-width: 15em;
}

.home__dev-text{
    position: relative;
    display: inline-block;
    z-index: 2;
}

.home__buttons{
  position: relative;
  z-index: 2;
}

.home__buttons{
    position: relative;
    margin-top: 1em;
    margin-left: 10%;
    z-index: 2;
}

.home__buttons a {
    position: relative;
    display: inline-block;
    padding: 0.5em 0.5em;
}

.home__know-btn{
    color: white;
    margin-right: 1.5em;
    background: rgb(230, 45, 76);
    border: 0.1em solid rgb(230, 45, 76);
    border-radius: 2rem;
}

.home__know-btn:hover{
    background: transparent;
    border: 0.1em solid rgb(87, 87, 147);
    color: rgb(87, 87, 147);
}

.home__contact-btn{
    color: rgb(230, 45, 76);
    border: 0.1em solid rgb(230, 45, 76);
    border-radius: 2rem;
}

.home__contact-btn:hover{
    background: rgb(87, 87, 147);
    border: 0.1em solid rgb(87, 87, 147);
    color:white
}

.home__social{
    display: flex;
    margin-top: 1em;
}
  
.home__linkedin, .home__github{
    cursor: pointer;
}
  
.home__linkedin svg:hover{
    color: rgb(71, 71, 238);
}
  
.home__github svg:hover{
    color: rgb(230, 45, 76);
}

.home-right{
    display: grid;
    place-items: center;
    position: relative;
}

.home-circle{
    width: 25rem;
    height: 25rem;
    background: linear-gradient(75deg, rgb(87, 87, 147), transparent);
    border-radius: 50%;
    position: absolute;
    transition: var(--transition);
}

.home-img{
    position: relative;
}

.home-right:hover .home-circle{
    filter: blur(15px);
}

@keyframes socialAccounts {
    0% {
      width: 0.2em;
    }
    100% {
      width: 3em;
    }
  }
  
  @keyframes textColorAnimation {
    0% {
      background: linear-gradient(107deg, #ff9933 30%, #ffffff, #138808 75.71%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-filter: hue-rotate(0deg);
    }
    100% {
      background: linear-gradient(107deg, #ff9933 30%, #ffffff, #138808 75.71%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-filter: hue-rotate(360deg);
    }
  }
  
  @keyframes textZoomAnimation {
    0% {
      transform: scale(10, 5);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  
  @keyframes textInOutAnimation {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(10, 5);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  
  .alphabet-animated {
    color: rgb(87, 87, 147);
    animation: alphabetAnimation 0.7s ease-in-out 1;
  }
  
  @keyframes alphabetAnimation {
    0% {
      transform: scale(1.2, 0.5);
    }
    16% {
      transform: scale(1.2, 0.5);
    }
    25% {
      transform: scale(1.2, 0.5);
    }
    32% {
      transform: scale(0.8, 1.1);
    }
    48% {
      transform: scale(0.95, 1);
    }
    64% {
      transform: scale(0.8, 1.2);
    }
    80% {
      transform: scale(1.15, 1);
    }
    87% {
      transform: scale(1.15, 1);
    }
    90% {
      /* This will add the shaking effect one time almost at the end   */
      transform: scale(0.8, 1);
    }
    95% {
      transform: scale(1.05, 1);
    }
    100% {
      transform: scale(1, 1);
    }
  }

/* ----Media Queries---- */
@media screen and (max-width: 1024px){
    .home{
        height: fit-content;
        padding: 12rem 0;
    }
    .home_container{
        gap: 0;
    }
    .home-circle{
        width: 25rem;
        height: 25rem;
    }
}

@media screen and (max-width: 600px){
    .home{
        margin-top: 0;
        padding: 12rem 0;
    }
    .home_container{
        grid-template-columns: 1fr;
    }
    .home-img{
        margin-top: 30px;
    }
    .home-circle{
        width: 22rem;
        height: 22rem;
    }
}