.contact-container{
  display: grid;
  grid-template-columns: 30% 45%;
  gap: 10%;
  justify-content: center;  
}

.contact h1{
  text-transform: uppercase;
}

.contact__form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.contact__form-group input{
  background: transparent;
  color: #ffffff;
  padding-bottom: 0.3em;
  border-bottom: 0.03em solid rgb(230, 45, 76);
}

.contact__form-group textarea{
  background: transparent;
  color: #ffffff;
  padding-bottom: 0.3em;
  border-bottom: 0.03em solid rgb(230, 45, 76);
}

.contact-btn{
  position: relative;
  font-family: "Alkatra";
  background: rgb(230, 45, 76);
  border-radius: 2rem;
  font-size: 1.1em;
  color: white;
  padding: 0.3em 1.5em;
  cursor: pointer;
  /* margin-bottom: 10%; */
}

.contact-btn:hover{
  color: rgb(230, 45, 76);
  background: transparent;
  border: 0.07em solid rgb(230, 45, 76);
}

.contact-info{
  padding-left: 30%;
}

.contact-info-details{
  font-size: 1em;
  font-weight: 300;
  margin-top: 4em;
}
  
.contact-info-details ul li{
  font-size: 1em;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3em;
}

.contact-info-details ul li span{
  font-size: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3em;
}

.contact-info-details svg {
  color: rgb(230, 45, 76);
}

.contact-info-details svg:hover {
  color: pink;
}

.contact__social{
  display: flex;
  gap: 0.5em;
  padding-left: 8%;
}

.contact__linkedin, .contact__github{
  cursor: pointer;
}

.contact__linkedin svg:hover{
  color: rgb(87, 87, 147);
}

.contact__github svg:hover{
  color: rgb(87, 87, 147);
}

@media screen and (max-width: 1024px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-info-details {
    width: 90%;
  }

  .contact-info {
    padding-left: 2%;
    margin-top: 3em;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-info-details {
    width: 90%;
  }

  .contact-info{
    margin-top: -3em;
    width: 100%;
  }

  .contact__form-group{
    margin-left: 2rem;
  }

}
